*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* COLORS */
	--primary-color: #ffb30e;
	--secondary-color: #2780ed;
	--warning-color: #f17228;
	--gray-50--color: #fcfcfc;
	--gray-100--color: #f5f5f5;
	--gray-200--color: #eeeeee;
	--gray-300--color: #e0e0e0;
	--gray-400--color: #bdbdbd;
	--gray-500--color: #9e9e9e;
	--gray-600--color: #757575;
	--gray-700--color: #616161;
	--gray-800--color: #424242;
	--gray-900--color: #212121;
	--white-color: #ffffff;
	--black-color: #000000;
	--success-color: #79b93c;
}

body {
	font-family: "Open Sans", sans-serif;
	font-family: "Source Sans Pro", sans-serif;
}

a {
	text-decoration: none;
}

/* HEADER */

nav {
	background: var(--white-color);
	box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
}

nav .wrapper {
	width: 77%;
	margin: 0 auto;

	padding: 16px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

nav .wrapper .left {
	display: flex;
	cursor: pointer;
}

nav .wrapper .left h1 {
	margin-left: 10px;
}

nav .wrappper .left img {
	width: 28px;
	height: 28px;
}

nav .wrapper .left h1 .food {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 31.1102px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: var(--warning-color);
}
nav .wrapper .left h1 .wagon {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 31.1102px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: var(--primary-color);
}

nav .wrapper .middle p {
	display: flex;
	align-items: center;
}

nav .wrapper .middle p span {
	margin: 0 5px;
}

nav .wrapper .middle p .dark {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	color: var(--gray-800--color);
}

nav .wrapper .middle p .dark-two {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: var(--gray-800--color);
}
nav .wrapper .middle p .light {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: var(--gray-800--color);
}

nav .wrapper .right {
	display: flex;

	background: var(--white-color);
	box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
	border-radius: 8px;
	cursor: pointer;

	padding: 14px 24px;
}
nav .wrapper .right .btn-login {
	margin-left: 10px;
}

/* HERO */

header section {
	background: linear-gradient(20deg, var(--primary-color) 30%, #f1aa0fa8 100%);
}

header section .wrapper {
	width: 77%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

/* left */

header section .wrapper {
	height: 60vh;
}

header section .wrapper .left {
	align-self: center;
}

/* right */
header section .wrapper img {
	width: 40%;
	/* height: 75%; */
	object-fit: contain;

	align-self: flex-end;
}

header section .wrapper .left .title h1 {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 100%;
	color: var(--white-color);
	text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
}

header section .wrapper .left .title p {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 120%;
	color: #504f4f;
	margin-top: 15px;
}

/* HERO'S ORDER CARD */

header section .wrapper .left .order-card {
	background-color: var(--white-color);
	filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
	border-radius: 16px;

	margin-top: 32px;
	width: 125%;
}

header section .wrapper .left .order-card .top {
	display: flex;
	align-items: center;

	border-bottom: 1px solid #eeeeee;
}
header section .wrapper .left .order-card .top .left {
	display: flex;
	align-items: center;
	margin: 24px;
	padding: 10px 24px;

	background: rgba(241, 114, 40, 0.1);
	border-radius: 8px;

	cursor: pointer;
}

header section .wrapper .left .order-card .top .left img {
	width: 23px;
	height: 28px;
}
header section .wrapper .left .order-card .top .left a {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #f17228;
	margin-left: 10px;
}
header section .wrapper .left .order-card .top .right {
	display: flex;
	align-items: center;

	cursor: pointer;
}

header section .wrapper .left .order-card .top .right img {
	width: 16px;
	height: 18px;
}

header section .wrapper .left .order-card .top .right a {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #757575;
	margin-left: 10px;
}

header section .wrapper .left .order-card .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px;
}

header section .wrapper .left .order-card .bottom .input-field {
	position: relative;

	flex: 1;
}

header section .wrapper .left .order-card .bottom .input-field img {
	position: absolute;
	left: 15px;
	width: 18px;
	height: 34px;
}

header section .wrapper .left .order-card .bottom .input-field input {
	width: 100%;

	background: #f5f5f5;
	border-radius: 8px;
	border: none;
	outline: none;

	padding: 11.5px 0px 11.5px 46px;
}

header section .wrapper .left .order-card .bottom .input-field input::placeholder {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #9e9e9e;
}

header section .wrapper .left .order-card .bottom .btn {
	display: flex;
	align-items: center;

	padding: 21px 48px;

	background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
	border-radius: 8px;

	margin-left: 16px;
}
header section .wrapper .left .order-card .bottom .btn img {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}
header section .wrapper .left .order-card .bottom .btn a {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	color: #ffffff;
}
